<div class="modal-body"> 
      
    <mat-icon class="closeIcon" (click)="activeModal.dismiss('Cross click')" title="Close">close</mat-icon>
  
    <ul ngbNav #nav="ngbNav" class="nav-tabs" >
        <li [ngbNavItem]="1">
            <a ngbNavLink style="background-color: #870B58;text-align:center;text-transform: capitalize;width:625%;margin-top: 55%;font-size:95%;"> Impact </a>
            <ng-template ngbNavContent>
                <div *ngFor="let d of receivedData$">  
                    <p>{{d.Impact}} </p>
                </div> 
            </ng-template>
        </li>    
    </ul>
      
    <div [ngbNavOutlet]="nav"></div>
</div>
  
  
     
  
   
        
  
       
  
   
        
  
       
