<div class="main-content" style="font-family: nimbus-sans;">
    <div class="container-fluid">
        
<!-- Two Cards -->
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-6">
      <div class="card card-stats">
            <div class="card-header card-header-icon">
                <div class="card-icon" style="background-color: rgb(233, 78, 15);">
                    <i class="material-icons">person_add_alt_1</i>
                </div>
                <p class="card-category">Shortlisted employees for {{ nominationPeriod | date:"MMMM yyyy"}}</p>
            </div>
            
            <div>
                <div class="table-responsive"> 
                
                <table mat-table [dataSource]="dataSourceCard" matSort #TableTop5ShorlistedSort="matSort">

                    <!-- Full Name Column -->
                    <ng-container matColumnDef="query.EmployeeFirstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:15px;color: #870B58;"> Full Name </th>
                        <td mat-cell *matCellDef="let d"> {{d.query.EmployeeFirstName | titlecase}} {{d.query.EmployeeLastName | titlecase}}</td>
                    </ng-container>

                    <!-- Department Column -->
                    <ng-container matColumnDef="query.EmployeeDepartment">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:15px;color: #870B58;"> Department </th>
                        <td mat-cell *matCellDef="let d"> {{d.query.EmployeeDepartment}} </td>
                    </ng-container>
                  
                    <!-- Number of nominations Column -->
                    <ng-container matColumnDef="nominationsCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:15px;color: #870B58;" class="center"> Nominations Count</th>
                        <td mat-cell *matCellDef="let d" class="dataCenter">{{d.nominationsCount}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCard"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCard;"></tr>
                </table>
              
            </div>
            </div>
          
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons" (click)="navigate()" style="cursor: pointer;font-size:17px;">arrow_right_alt</i>                  
                    <a  (click)="navigate()" style="margin-top:1px;margin-left:1px;cursor: pointer;">View All</a>                               
                </div>
            </div>

      </div>
  </div>

  <div class="col-lg-6 col-md-12 col-sm-6">
    <div class="card card-stats">
        <div class="card-header card-header-icon">
            <div class="card-icon" style="background-color: rgb(248, 173, 7);">
                <i class="material-icons">person_remove_alt_1</i>
            </div>
            <p class="card-category">Non Shortlisted employees for {{ nominationPeriod | date:"MMMM yyyy"}}</p>
            <!-- <h3 class="card-title">5</h3> -->
        </div>
        <div class="table-responsive">
                
            <table mat-table [dataSource]="dataSourceSecondCard" matSort #TableTop5NonShorlistedSort="matSort">

                <!-- Full Name Column -->
                <ng-container matColumnDef="query.EmployeeFirstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:15px;color: #870B58;"> Full Name </th>
                    <td mat-cell *matCellDef="let d"> {{d.query.EmployeeFirstName | titlecase}} {{d.query.EmployeeLastName | titlecase}}</td>
                </ng-container>
               
                <!-- Department Column -->
                <ng-container matColumnDef="query.EmployeeDepartment">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:15px;color: #870B58;"> Department </th>
                    <td mat-cell *matCellDef="let d"> {{d.query.EmployeeDepartment}} </td>
                </ng-container>
              
                <!-- Number of nominations Column -->
                <ng-container matColumnDef="nominationsCount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size:15px;color: #870B58;" class="nominations"> Nominations Count</th>
                    <td mat-cell *matCellDef="let d" class="nominationsData">{{d.nominationsCount}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsSecondCard"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsSecondCard;"></tr>
            </table>
          </div>
        
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons" (click)="navigateSecondCard()" style="cursor: pointer;font-size:17px;">arrow_right_alt</i>                  
                    <a  (click)="navigateSecondCard()" style="margin-top:1px;margin-left:1px;cursor: pointer;">View All</a>                               
                </div>
            </div>


      </div>
    </div>
</div>


<!------------------------------------------------------------Nominees By Manager----------------------------------------------------------------------------->

        <div class="row">       
            <div class="col-md-12">
                <div class="card" id="contentSecondCard">
             
                    <!-- <div class="card-body">  -->
                        <div class="card-body">
                            <h6 class="card-category text-danger" style="float: left;">
                              <i class="material-icons">stacked_line_chart</i> My Department Nominations {{ nominationPeriod | date:"MMMM yyyy"}} 
                            </h6>

                            <!-- Search -->
                            <mat-form-field class="search-form-field" floatLabel="never">
                                <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()" >
                                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                                <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>

                        <div class="table-responsive">   
                            
                            <div class="mat-elevation-z8">   

                            <table mat-table [hidden]="!isTableHasData" [dataSource]="dataSource" matSort #TableTopNomineesSort="matSort">
                              
                                <!-- Employee ID Column -->
                                <ng-container matColumnDef="employeeId">
                                    <b><th mat-header-cell *matHeaderCellDef mat-sort-header  class="text-center"> Employee ID </th></b>
                                    <td mat-cell *matCellDef="let d"> {{d.employeeId}} </td>
                                </ng-container>
                              
                                <!-- Full Name Column -->
                                <ng-container matColumnDef="query.EmployeeFirstName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
                                    <td mat-cell *matCellDef="let d"><a  class="pointer" data-placement="top" title="Click to view Rationale" (click)="onClickViewRationale(d)"> {{d.query.EmployeeFirstName | titlecase }} {{d.query.EmployeeLastName | titlecase}}  </a> </td>
                                </ng-container>
                              
                                <!-- Division Column -->
                                <ng-container matColumnDef="query.EmployeeDivision">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Division </th>
                                    <td mat-cell *matCellDef="let d"> {{d.query.EmployeeDivision}} </td>
                                </ng-container>
                              
                                <!-- Department Column -->
                                <ng-container matColumnDef="query.EmployeeDepartment">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
                                    <td mat-cell *matCellDef="let d"> {{d.query.EmployeeDepartment}} </td>
                                </ng-container>

                                <!-- Manager Column -->
                                <ng-container matColumnDef="query.EmployeeFirstNameManager">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Manager </th>
                                    <td mat-cell *matCellDef="let d"> {{d.query.EmployeeFirstNameManager}} {{d.query.EmployeeLastNameManager}} </td>
                                </ng-container>

                                <!-- Number of nominations Column -->
                                <ng-container matColumnDef="nominationsCount">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nominations Count </th>
                                    <td mat-cell *matCellDef="let d"  style="padding-left: 07%;"> {{d.nominationsCount}} </td>
                                </ng-container>

                                <!-- Actions -->
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header > Actions </th>
                                    <!-- <td mat-cell *matCellDef="let d"><a (click)="open(mymodal)" class="btn btn-success">Shortlist</a></td> -->

                                    <td mat-cell *matCellDef="let d" >
                                    <i class="fa fa-check " data-toggle="modal" (click)="addManagerRationale(d)" data-target="#myModal" data-placement="top" title="Shortlist With Rationale" style="color: green; margin-left:15% ;"></i>
                                    <i class="fa fa-arrow-right" aria-hidden="true"  (click)="managerShortlistDirectly(d.employeeId)"  title="Direct Shortlist" style="color: green; margin-left:15% ;"></i>
                                    <i class="fa fa-stop-circle" data-toggle="modal" (click)="addRejectionRationale(d)" data-target="#myModal" data-placement="top" title="Rejection With Rationale" style="color: red; margin-left:15% ;"></i>
                          
                                    </td>
                                </ng-container>

                                <!-- loading -->
                                <ng-container matColumnDef="loading">
                                    <mat-footer-cell *matFooterCellDef class="styling" colspan="4">
                                        Loading data...
                                    </mat-footer-cell>
                                </ng-container>   
                              
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}" class="styling"></mat-footer-row>

                            </table>

                            <div [hidden]="isTableHasData" class="stylingRecords">
                                <b>No records found!</b>
                            </div>

                            <mat-paginator #TableTopNomineesPaginator="matPaginator" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!------------------------------------------------------------Shortlisted By Manager----------------------------------------------------------------------------->
<div class="row">  
 <div class="col-md-12">
    <div class="card" id="content">
        <div class="card-body">
            <h6 class="card-category text-danger" style="float: left;">
              <i class="material-icons">trending_up</i> My Contenders {{ nominationPeriod | date:"MMMM yyyy"}}
            </h6>

            <!-- Search -->
            <mat-form-field class="search-form-field" floatLabel="never">
                <input matInput [(ngModel)]="searchKey1" placeholder="Search" autocomplete="off" (keyup)="applyFilter1()" >
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey1" (click)="onSearchClear1()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

        <div class="table-responsive">            
            
            <div class="mat-elevation-z8">     
            <table mat-table [hidden]="!isTableHasData1" [dataSource]="dataSourceShortlist" matSort #TableContendersSort="matSort">
                
                <!-- Employee ID Column -->
                <ng-container matColumnDef="employeeId">
                    <b><th mat-header-cell *matHeaderCellDef mat-sort-header  class="text-center"> Employee ID </th></b>
                    <td mat-cell *matCellDef="let d"> {{d.employeeId}} </td>
                </ng-container>
                
                <!-- First Name Column -->
                <ng-container matColumnDef="query.EmployeeFirstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
                    <td mat-cell *matCellDef="let d"><a  class="pointer" data-placement="top" title="Click to view Rationale" (click)="onClickViewRationale(d)"> {{d.query.EmployeeFirstName | titlecase }} {{d.query.EmployeeLastName | titlecase}}  </a> </td>
                </ng-container>
                
                <!-- Division Column -->
                <ng-container matColumnDef="query.EmployeeDivision">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Division </th>
                    <td mat-cell *matCellDef="let d"> {{d.query.EmployeeDivision}}</td>
                </ng-container>
                
                <!-- Department Column -->
                <ng-container matColumnDef="query.EmployeeDepartment">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
                    <td mat-cell *matCellDef="let d"> {{d.query.EmployeeDepartment}} </td>
                </ng-container>

                <!-- Manager Column -->
                <ng-container matColumnDef="query.EmployeeFirstNameManager">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Manager </th>
                    <td mat-cell *matCellDef="let d"> {{d.query.EmployeeFirstNameManager}}  {{d.query.EmployeeLastNameManager}} </td>
                </ng-container>

                <!-- Number of nominations Column -->
                <ng-container matColumnDef="nominationsCount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nominations Count </th>
                    <td mat-cell *matCellDef="let d"  style="padding-left: 07%;"> {{d.nominationsCount}} </td>
                </ng-container>

                <!-- Actions -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="show"> Actions </th>
                    <td mat-cell *matCellDef="let d" [hidden]="show">
                        <i class="fa fa-minus-circle" data-toggle="modal" data-target="#myModal" data-placement="top" title="Discard" style="padding-right: 15px; color: red;"></i>                                    </td>
                </ng-container>
                
                <!-- loading -->
                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef class="styling" colspan="4">
                      Loading data...
                    </mat-footer-cell>
                </ng-container> 
                
                <tr mat-header-row *matHeaderRowDef="displayedColumnsShortlist"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsShortlist;"></tr>

                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSourceShortlist!=null}" class="styling"></mat-footer-row>

                </table>

                <div [hidden]="isTableHasData1" class="stylingRecords">
                    <b>No records found!</b>
                </div>

                <mat-paginator #TableContendersPaginator="matPaginator" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
            </div>

        </div>
    </div>
</div>
</div>
</div>
<!------------------------------------------------------------Nominees By Company----------------------------------------------------------------------------->
<div class="row">  
    <div class="col-md-12">
        <div class="card">
                <div class="card-body">
                    <h6 class="card-category text-danger" style="float: left;">
                    <i class="material-icons">stacked_line_chart</i> Overall Nominations {{ nominationPeriod | date:"MMMM yyyy"}}
                    </h6>

                    <!-- Search -->
                    <mat-form-field class="search-form-field" floatLabel="never">
                        <input matInput [(ngModel)]="searchKey2" placeholder="Search" autocomplete="off" (keyup)="applyFilter2()" >
                        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey2" (click)="onSearchClear2()">
                        <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    
                <div class="table-responsive">
                
                    <div class="mat-elevation-z8">  
                    
                    <table mat-table [hidden]="!isTableHasData2" [dataSource]="dataSourceCompany" matSort #TableOverallNominationsSort="matSort">
                        
                        <!-- Employee ID Column -->
                        <ng-container matColumnDef="employeeId">
                            <b><th mat-header-cell *matHeaderCellDef mat-sort-header  class="text-center"> Employee ID </th></b>
                            <td mat-cell *matCellDef="let d"> {{d.employeeId}} </td>
                        </ng-container>
                        
                        <!-- First Name Column -->
                        <ng-container matColumnDef="query.employeeFirstName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
                        <td mat-cell *matCellDef="let d"> {{d.query.employeeFirstName | titlecase }} {{d.query.employeeLastName | titlecase}} </td>
                        </ng-container>
                        
                        <!-- Division Column -->
                        <ng-container matColumnDef="query.employeeDivision">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Division </th>
                            <td mat-cell *matCellDef="let d"> {{d.query.employeeDivision}}</td>
                        </ng-container>
                        
                        <!-- Department Column -->
                        <ng-container matColumnDef="query.employeeDepartment">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
                            <td mat-cell *matCellDef="let d"> {{d.query.employeeDepartment}} </td>
                        </ng-container>

                        <!-- Manager Column -->
                        <ng-container matColumnDef="query.employeeFirstNameManager">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Manager </th>
                            <td mat-cell *matCellDef="let d"> {{d.query.employeeFirstNameManager}}  {{d.query.employeeLastNameManager}} </td>
                        </ng-container>

                        <!-- Number of nominations Column -->
                        <ng-container matColumnDef="nominationsCount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nominations Count </th>
                            <td mat-cell *matCellDef="let d"  style="padding-left: 07%;"> {{d.nominationsCount}} </td>
                        </ng-container>

                        <!-- loading -->
                        <ng-container matColumnDef="loading">
                            <mat-footer-cell *matFooterCellDef class="styling" colspan="4">
                            Loading data...
                            </mat-footer-cell>
                        </ng-container>  
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsCompany"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsCompany;"></tr>

                        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSourceCompany!=null}" class="styling"></mat-footer-row>

                        </table>

                        <div [hidden]="isTableHasData2" class="stylingRecords">
                            <b>No records found!</b>
                        </div>

                        <mat-paginator #TableOverallNominationsPaginator="matPaginator" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------------------------INSPIRE TEAM------------------------------------------------------------------------------------------------------------ -->
<div class="card">
    <div class="card-body">
        <h6 class="card-category text-danger" style="float: left;">
          <i class="material-icons">groups</i> Inspire Team {{ nominationPeriod | date:"MMMM yyyy"}}
        </h6>

        <!-- Search -->
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey3" placeholder="Search" autocomplete="off" (keyup)="applyFilter3()" >
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey3" (click)="onSearchClear3()">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        
    <div class="table-responsive">
     
        <div class="mat-elevation-z8">  
           
        <table mat-table [hidden]="!isTableHasData3" [dataSource]="dataSourceTeam" matSort #TableNomineesInspireSort="matSort">
  
            <!-- Team Name Column -->
            <ng-container matColumnDef="teamName">
                <b><th mat-header-cell *matHeaderCellDef mat-sort-header> Team Name </th></b>
                <td mat-cell *matCellDef="let d"> {{d.teamName}} </td>
            </ng-container>
            
            <!-- Impact Column -->
            <ng-container matColumnDef="impact">
                <b><th mat-header-cell *matHeaderCellDef mat-sort-header> Impact </th></b>
                  
                <td mat-cell *matCellDef="let d"> 
                    <button style="color: #870B58;" (click)="onClickViewRationaleImpact(d)" data-toggle="tooltip" data-placement="top" title="View Rationale" mat-icon-button color="primary">
                        <mat-icon>launch</mat-icon>
                    </button>
                </td>
            </ng-container>

             <!-- Be a spark Column -->
             <ng-container matColumnDef="beASpark">
                <b><th mat-header-cell *matHeaderCellDef mat-sort-header > Be a Spark </th></b>
                  
                <td mat-cell *matCellDef="let d" > 
                    <button style="color: #870B58;" (click)="onClickViewRationaleSpark(d)" data-toggle="tooltip" data-placement="top" title="View Rationale" mat-icon-button color="primary">
                        <mat-icon>launch</mat-icon>
                    </button>
                </td>
            </ng-container>
                 
            <!-- loading -->
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef class="styling" colspan="4">
                  Loading data...
                </mat-footer-cell>
            </ng-container>  
            
            <tr mat-header-row *matHeaderRowDef="inspireTeamColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: inspireTeamColumns;"></tr>

            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSourceTeam!=null}" class="styling"></mat-footer-row>

            </table>

            <div [hidden]="isTableHasData3" class="stylingRecords">
                <b>No records found!</b>
            </div>

            <mat-paginator #TableNomineesInspirePaginator="matPaginator" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
        </div>

    </div>
</div>
</div>



           


